<h1 class="article-title">{{ .Title }}
{{ with .Params.subtitle }}
<span class="article-subtitle">{{ . }}</span>
{{ end }}
</h1>

{{ if or (in (split "en,cn,zoey" ",") .Section) .Params.author }}
<div class="article-date">
  <span>{{ with or (or .Params.author (index .Site.Params.author .Section)) "" }} {{  print . " · " }} {{ end }} {{ .Date.Format "2006/01/02" }}</span>
  <span class="article-toolbar">
    {{ with .Section }}
    <a href="/{{ . }}/index.xml" type="application/rss+xml" target="_blank"><i class="fa fa-rss" aria-hidden="true" title="RSS feed"></i></a>
    {{ end }}
    <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank"><i class="fa fa-cc" aria-hidden="true" title="Attribution-NonCommercial-ShareAlike 4.0 International"></i></a>
    {{ with .Site.Params.githubContentURL }}
    {{ $.Scratch.Set "filePath" $.File.Path }}
    {{ if $.Params.from_Rmd }}
    {{ $.Scratch.Set "filePath" (replaceRE "[.]md$" ".Rmd" $.File.Path) }}
      {{ if $.Params.to_html }}
        {{ $.Scratch.Set "filePath" (replaceRE "[.]html$" ".Rmd" $.File.Path) }}
      {{ end }}
    {{ end }}
    {{ end }}
    </span>
</div>
{{ end }}
